#index7_1.noShow.content
    .row.tit
        .col-lg-8.col-md-8.col-sm-8.col-xs-8
            h4
                i.fa.fa-angle-right
                | 转化漏斗
        .col-lg-4.col-md-4.col-sm-4.col-xs-4.text-right
            .btn
                a(href="javascript:;")
                    | 创建自定义报告
                    i.fa.fa-pencil-square-o
    hr
    .panel.data_chart
        .panel-heading.row
        .panel-body
            .row
                .col-lg-8.col-md-8.col-sm-8.col-xs-8
                    .btn-group
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button")
                            | 目标1&nbsp&nbsp
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="javascript:;") 按钮1
                            li
                                a(href="javascript:;") 按钮2

                .col-lg-4.col-md-4.col-sm-4.col-xs-4.timer_group.text-right
                    .btn
                        span 日
                    .btn
                        span 周
                    .btn
                        span 年
            .funnel_box
                .cart
                    .shop_desc
                        .left
                            span 2194
                        .mid.clearfix
                            .left_icon
                                i.fa.fa-caret-right
                            .tips
                                span 购物车
                                span 2194
                                .data_bar
                                    .bar_l
                                    .bar_r
                            .right_icon
                                i.fa.fa-caret-right
                        .right
                            span 1660
                    .shop_data
                        .left
                            table.table.table-bordered.table-condensed
                                tbody
                                    tr
                                        td
                                            label 页面类型名称
                                            | 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                        .mid
                            .funnel_bg
                            .data_per
                                span 534(24.34%)
                                span 下一步是订单
                        .right
                            table.table.table-bordered.table-condensed
                                tbody
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                .indent
                    .shop_desc
                        .left
                            span 139
                        .mid
                            .left_icon
                                i.fa.fa-caret-right
                            .tips
                                span 订单
                                span 673
                                .data_bar
                                    .bar_l
                                    .bar_r
                            .right_icon
                                i.fa.fa-caret-right
                        .right
                            span 428
                    .shop_data
                        .left
                            table.table.table-bordered.table-condensed
                                tbody
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                        .mid
                            .funnel_bg
                            .data_per
                                span 245(36.40%)
                                span 下一步是付款成功
                        .right
                            table.table.table-bordered.table-condensed
                                tbody
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                .pay_success
                    .shop_desc
                        .left
                            span 140
                        .mid
                            .left_icon
                                i.fa.fa-caret-right
                            .tips
                                span 付款成功
                                span 385
                                br
                                span 15.57% 渠道转化率
                    .shop_data
                        .left
                            table.table.table-bordered.table-condensed
                                tbody
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
                                    tr
                                        td 131
    .data_export.text-right
        span 导出支持图形和数据
        .btn
            | 导出
            i.fa.fa-share-square
